/* Example dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Add more styles here for dark mode */


/* Add this to your CSS file or in your existing CSS */
.dark-mode-toggle {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Slider color when not in dark mode */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.slider.round {
  border-radius: 34px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .slider {
  background-color: #2196F3; /* Slider color when in dark mode */
}
