---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}{{ '/images/favicon.ico' | relative_url }}">
	<label class="switch">
	  <input type="checkbox" id="dark-mode-toggle">
	  <span class="slider round">
		<span class="icon moon-icon">🌙</span>
		<span class="icon sun-icon">☀️</span>
	  </span>
	</label>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}	
      </footer>
      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
      <div class="elfsight-app-7c3f1c95-b573-4dbf-8121-b7e9feb603af" data-elfsight-app-lazy></div>
    </div>

    {% include scripts.html %}
    
  </body>
</html>

