---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}{{ '/images/favicon.ico' | relative_url }}">
	<div class="theme-switch-wrapper">
		<i class="fas fa-sun"></i> <!-- Sun Icon -->
		<label class="theme-switch" for="checkbox">
			<input type="checkbox" id="dark-mode-toggle" />
			<div class="slider round"></div>
		</label>
		<i class="fas fa-moon"></i> <!-- Moon Icon -->
	</div>


  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			console.log("Document is ready");
			var toggle = document.getElementById('dark-mode-toggle');
			toggle.addEventListener('change', function() {
				document.body.classList.toggle('dark-mode', this.checked);
			});
		});

	</script>
  </body>
</html>

